<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>airservice.test.FillDB</listener-class>
    </listener>
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!----><servlet>
        <servlet-name>RESTEasy-JSAPI</servlet-name>
        <servlet-class>org.jboss.resteasy.jsapi.JSAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTEasy-JSAPI</servlet-name>
        <url-pattern>/rest-js</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Resteasy</filter-name>
        <filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
        <init-param>
            <param-name>resteasy.scan</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Resteasy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>
            airservice.resources.DestinationResource,
            airservice.resources.FlightResource,
            airservice.resources.ReservationResource,
            airservice.resources.ResourcesListingResource,
            airservice.resources.TestResource
        </param-value>
    </context-param>
    <!--<context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>airservice.resources.tests.MyExceptionMapper</param-value>
    </context-param>-->
    <!--<context-param>
        <param-name>resteasy.role.based.security</param-name>
        <param-value>true</param-value>
    </context-param>
    <security-constraint>
        <display-name>admin-rights</display-name>
        <web-resource-collection>
            <web-resource-name>destination</web-resource-name>
            <description/>
            <url-pattern>/rest/destination/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>flight</web-resource-name>
            <description/>
            <url-pattern>/rest/flight/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>manager-rights</display-name>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>ApplicationRealm</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>manager</role-name>
    </security-role>
    <security-constraint>
        <display-name>security</display-name>
        <web-resource-collection>
            <web-resource-name>security</web-resource-name>
            <description/>
            <url-pattern>/security/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>ApplicationRealm</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>manager</role-name>
    </security-role>-->
</web-app>
